<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Simulateur &#201;conomique &#x1F1F2;&#x1F1EC;</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="economie" Match="NavLinkMatch.All">
                <span class="bi bi-graph-up" aria-hidden="true"></span> &#201;conomie &#x1F1F2;&#x1F1EC;
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donnees-exports">
                <span class="bi bi-box-arrow-up-right" aria-hidden="true"></span> Exports INSTAT &#x1F4E6;
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donnees-imports">
                <span class="bi bi-box-seam" aria-hidden="true"></span> Imports INSTAT &#x1F4E6;
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doc-calibration">
                <span class="bi bi-book" aria-hidden="true"></span> Documentation &#x1F4D6;
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doc-prix">
                <span class="bi bi-graph-up-arrow" aria-hidden="true"></span> Prix & &#201;lasticit&#233; &#x1F4C8;
            </NavLink>
        </div>
    </nav>
</div>
